@if (mostrarFormAddTask) {
  <app-button text="Fechar" color="red" (click)="MostraAddTask()"/>
} @else {
  <app-button text="Adicionar Tarefa" color="green" (click)="MostraAddTask()"/>
}

@if (mostrarFormAddTask) {
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="text">Tarefa:</label>
      <input
        type="text"
        name="text"
        class="form-control"
        placeholder="Adicionar Nova Tarefa"
        id="text"
        [(ngModel)]="tarefa"
      />
      <p>{{ tarefa }}</p>
    </div>
    <div class="mb-4">
      <label for="categoria">Categoria</label>
      <select name="categoria" id="categoria" class="form-select" [(ngModel)]="categoria">
        <option value="">Selecione uma categoria</option>
        <option value="Casa">Casa</option>
        <option value="Trabalho">Trabalho</option>
        <option value="Faculdade">Faculdade</option>
        <option value="Academia">Academia</option>
        <option value="Lazer">Lazer</option>
      </select>
      <input type="submit" value="Salvar Tarefa" class="btn btn-primary btn-block mb-4" />
    </div>
  </form>
}
